/* Configurações do Body da página */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centralize horizontalmente */
    align-items: center;
    /* Centralize verticalmente */
    width: 100vw;
    /* 100% da largura da viewport */
    height: 100vh;
    /* 100% da altura da viewport */
    background: #84B6F4;
}

/* Configurações da div central */
.divCentral {
    background: #FFFFFF;

    border-radius: 5%;
    /*!!!!Voltar aqui para ver qual tipo de border radius ficaria melhor!!!!*/
}

/* Configurações do formulário de login */
#formularioCadastro {
    width: 562px;
    height: 562px;
    float: left;
}

#labelFormCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
}

#labelFormCadastro {
    padding-top: 10%;
}

#divInputs {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    display: inline;
}

#txNome {
    font-size: 17px;
    padding: 14px 16px;
    border-color: #84B6F4;
    float: left;

}

#txEmail {
    font-size: 17px;
    padding: 14px 16px;
    border-color: #84B6F4;
}

#nrTelefone {
    font-size: 17px;
    padding: 14px 16px;
    border-color: #84B6F4;
}

#txCpf {
    font-size: 17px;
    padding: 14px 16px;
    border-color: #84B6F4;
}

#cdSenha {
    font-size: 17px;
    padding: 14px 16px;
    border-color: #84B6F4;
}

#divBtnCriarConta {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnCriarConta {
    padding: 14px 16px;
    width: 290px;
}

#divParagrafoOu {
    padding-top: 10px;
}

#divCadastro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-group .divTxNome,
.input-group .divTxEmail,
.input-group .divNrTelefone,
.input-group .divTxCpf {
    flex: 1;
    margin-right: 10px;
}