.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;

}

/* Outras regras de estilo existentes... */
body {
    background-color: #84B6F4;
    overflow-x: hidden;
}

/* Configurações do Body da página */
#divContainer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centralize horizontalmente */
    align-items: center;
    /* Centralize verticalmente */
    width: 100vw;
    /* 100% da largura da viewport */
    height: 100vh;
    /* 100% da altura da viewport */
    background: #84B6F4;
}

/* Estilos para o título "iCasamento" */
#iCasamentoTitulo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
}

#accordion {
    justify-content: center;
}

#tituloColapseData,
#tituloColapseConvidados,
#tituloColapseLocalizacao {
    font-size: 18px;
}

#divDtCasamento,
#divNrConvidados {
    text-align: center;
}

#subtituloColapseData,
#subtituloColapseConvidados,
#subtituloColapseEstado,
#subtituloColapseCidade {
    font-size: 16px;
    margin-bottom: 10px;
}

#dtCasamento,
#nrConvidados,
#nmEstado {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 0 auto;
    float: none;
}

.modal-body {
    overflow-y: auto;
}

#sugestoes {
    overflow-y: auto;
    max-height: 150px;
    display: none;
}

#containerAlbum {
    padding-top: 25px;
}